@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  background-color: #fafafa;
}

main {
  @apply w-[90%] sm:w-[80%] mx-auto;
}

@layer components {
  .navbar_icon_wrapper {
    @apply hover:bg-[#fff] rounded-md p-[6px] text-[14px] cursor-pointer;
  }

  .navbar__link:hover {
    color: #feba54;
    transition: all 0.4s;
    cursor: pointer;
  }

  .navbar__link::after {
    position: absolute;
    content: "";
    background-color: #feba54;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar__link:hover::after {
    scale: 1;
  }

  .mobile_navbar {
    @apply rounded-t-lg border-solid border border-gray-200;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  }
}
